<?xml version="1.0"?>
<!--
/**
 * @author DiZed Team
 * @copyright Copyright (c) DiZed Team (https://github.com/di-zed/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Wishlist management. -->
    <preference for="DiZed\WishlistGuest\Api\WishlistManagementInterface"
                type="DiZed\WishlistGuest\Model\WishlistManagement"/>
</config>
