<?xml version="1.0"?>
<!--
/**
 * @author DiZed Team
 * @copyright Copyright (c) DiZed Team (https://github.com/di-zed/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DiZed_WishlistGuest" setup_version="1.0.0">
        <module name="DiZed_Core"/>
        <module name="Magento_Wishlist"/>
    </module>
</config>
